@model IEnumerable<WebApplication.Employee>

@{
    Layout = "~/Views/Home/Shared/HomeLayout.cshtml";
}

@{
    ViewBag.Title = "Employee Info";
}

<script type="text/javascript">
    $(function() {
        $(".datefield").datepicker({ dateFormat: "dd/mm/yy", changeYear: true, changeMonth: true, yearRange: "-80:+0" });
    });

    $(function () {
        $(".datefield2").datepicker({ dateFormat: "dd/mm/yy", changeYear: true, changeMonth: true, yearRange: "-80:+0" });
    });
</script>

<div id="dropdowns" class="form-horizontal">
    <h4>Employee Info</h4>
    <hr />

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td class="col-md-3">
                    Find by name: @Html.TextBox("SearchString", null, new {@style = "width: 150px; color: black", @Autocomplete = "off"})
                </td>
                <td class="col-md-3">
                    Vacation Days Left: @Html.DropDownList("LeftDays", new List<SelectListItem>
                                        {
                                            new SelectListItem {Text = "0 - 5", Value = "0"},
                                            new SelectListItem {Text = "5 - 15", Value = "1"},
                                            new SelectListItem {Text = "15 - 30", Value = "2"},
                                            new SelectListItem {Text = "more than 30", Value = "3"}
                                        }, "Select Days", new {@style = "width: 150px; color: black"})
                </td>
                <td class="col-md-3">
                    Job Start Date: @Html.TextBox("Date1", null, new {@class = "datefield", type = "text", @style = "color: black"})
                </td>
                <td>
                    <br/> @Html.TextBox("Date2", null, new {@class = "datefield2", type = "text", @style = "color: black"})
                </td>
                <td class="col-md-5">
                    <br/>
                    <button class="btn btn-default glyphicon glyphicon-search"> Search</button>
                </td>
                
            </tr>
        </table>
    }




    <div id="table-wrapper">
        <div id="table-scroll">
            <table id="tbl-data">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.startDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.daysLeft)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.phoneNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.username)
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>

                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.daysLeft)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phoneNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.ActionLink("Review", "EmployeeReview", new {id = item.id}, new {@class = "btn-sm btn-info"})
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div id="back-link" style="float:left">
        @Html.ActionLink("Back", "Index")
    </div>

    <div id="refresh-btn">
        @Html.ActionLink("Refresh", "EmployeeInfo",null, new {@class="btn-sm btn-default"})
    </div>
</div>

