@using System.Web.Optimization
@model IEnumerable<WebApplication.Models.MultipleViewModel>

@{
    Layout = "~/Views/Home/Shared/HomeLayout.cshtml";
}

@{
    ViewBag.Title = "Awaiting Vacations";
}

<div class="form-horizontal">
    <h4>Awaiting Vacations</h4>
    <hr />
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee.surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vacation.start_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vacation.end_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vacation.days)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vacation.approved_by)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vacation.type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vacation.accessible_num)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vacation.reason)
                    </th>
                    <th>
                        Available Days
                    </th>
                    <th>
                        Conclusion
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr style="border: none">
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacation.start_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacation.end_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacation.days)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacation.approved_by)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacation.type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacation.accessible_num)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacation.reason)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.daysLeft)
                        </td>
                        <td>
                            <a class="btn-sm btn-success" href="@Url.Action("VacationsAwaiting")" id="accept@(item.Vacation.id)">Accept</a>
                            <a class=" btn-sm btn-danger" href="@Url.Action("VacationsAwaiting")" id="deny@(item.Vacation.id)">Deny</a>

                            <script>
                                $('#accept@(item.Vacation.id)').click(function() {
                                    $.ajax({
                                            url: "@Url.Action("AcceptVacation")",
                                            type: "POST",
                                            data: { id: @item.Vacation.id }

                                        })
                                        .success(function(result) {
                                            alert("Info : Vacation accepted.");
                                        })
                                        .error(function(xhr, status) {
                                            alert(status);
                                        });
                                });

                                $('#deny@(item.Vacation.id)').click(function() {
                                    $.ajax({
                                            url: "@Url.Action("DenyVacation")",
                                            type: "POST",
                                            data: { id: @item.Vacation.id }

                                        })
                                        .success(function(result) {
                                            alert("Info : Vacation denied.");
                                        })
                                        .error(function(xhr, status) {
                                            alert(status);
                                        });
                                });
                            </script>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>



            <div id="back-link">
                @Html.ActionLink("Back", "Index")
            </div>
        </div>

