@model WebApplication.Models.MultipleViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="request-form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Forgot Password?</h4>
            <hr/>

            <div class="form-group">
                @Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("username", null, new { @class = "form-control", type = "text", @style = "color: black", autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Name", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBox("name", null, new {@class = "form-control", type = "text", @style = "color: black", autocomplete = "off"})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Surname", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("surname", null, new { @class = "form-control", type = "text", @style = "color: black", autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Phone Number" , htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("phoneNum", null, new { @class = "form-control", type = "text", @style = "color: black", autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label( "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("userEmail", null, new { @class = "form-control", type = "text", @style = "color: black", autocomplete="off"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }
    <div id="back-link">
        @Html.ActionLink("Back", "Login")
    </div>

    <div>
        @Html.ValidationSummary(true)
    </div>

    <br/>
    <br/>

    <div>
        @ViewBag.mailMessage
    </div>
</div>