@using System.Web.Optimization

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        @Styles.Render("~/styles")
        <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
    </head>
<body>

<section id="container">
    <div class="header">
        <img src="~/Content/Images/Accenture_Digital_Logo-610x130 (Custom).jpg" />
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <footer>
            &copy; @DateTime.UtcNow.Year
        </footer>
    </div>

</section>

    @Scripts.Render("~/scripts")
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
